$primary: #2f4983;
$warning: #fbba32;
$danger: #e41a4a;
$secondary: #1ebf73;
$headerColor: #d49b20;
$sellerHeaderColor: #17096b;
$tableHeadColor: #9debd6;

// selected-sidebar color
$selected-sidebar: #e8efff;

$container-bg-color: #fff;
