@import "./theme/colorsConfig.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  // font-family: "Poppins", sans-serif !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 400;
}

body {
  .layout-container {
    background-color: $container-bg-color;
    padding: 0px;
    min-height: calc(100vh - 130px);
  }
  .pointer {
    cursor: pointer;
  }
  .poppins{
    font-family: "Poppins", sans-serif !important;
  }
}
